%h2=page_title @challenge

= @challenge.tools

.challenge_form.challenge_show

	.four.columns
		=t(@challenge.public? ? "challenge_public" : "challenge_private")
		= @challenge.deadline_raw
		= @challenge.created
		= @challenge.perticipants 5

	.twelve.columns
		.from
			= image_tag @challenge.from.image(:square)
			= @challenge.from

		- if @challenge.description.present?
			.description=@challenge.description
	
		- challenge_proofs do
			%h3=t("proofs_and_comments")
			.proofs_list= render :partial => "proofs/proof", :collection => @challenge.proofs

		- proof? do
			= render "proofs/form"