!!!
%head
	%title=page_title
	= stylesheet_link_tag "application", :media => "all"
	= javascript_include_tag "application"
	= csrf_meta_tags

	- if content_for?(:head)
		= yield :head

%body{rails_location}
	.container
		#header=render "layouts/header"
		
		%hr/

		- if not(flash[:error].nil?) or not(flash[:notice].nil?)
			.messages
				- unless flash[:error].nil?
					.error=flash[:error]
				- unless flash[:notice].nil?
					.notice=flash[:notice]


		.content
			= yield